<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion de Stock</title>
</head>
<body>
  <h1>Bienvenue à l'application de gestion de stock</h1>
  <a href="/categories">Voir les catégories</a> <br>
  <a href="/produits">Voir les produits</a> <br>

  <h1>Liste des Produits</h1>
  <a href="/produits/nouveau">Ajouter un nouveau produit</a>
  <ul>
    <% produits.forEach(produit => { %>
      <li>
        Nom: <%= produit.nom %> 
        Catégorie: <%= produit.Categorie ? produit.Categorie.nom : 'Non catégorisé' %> - 
        Prix: <%= produit.prix %>Fr - 
        Quantité disponible: <%= produit.quantiteDisponible %>
        Entrée: <%=entree.quantite%> 
        Sortie: <%=sortie.quantite%> 
        <form action="/produits/<%= produit.id %>/supprimer" method="POST" style="display:inline;">
          <button type="submit">Supprimer</button>
        </form>
      </li>
    <% }) %>
  </ul>

</body>
</html>
